*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: "Roboto", serif;
}

html,body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 450px;
    display: flex;
    justify-content: center;

    .main{
        height: 100%;
        width: 100%;
        padding: 1em ;
        
        .heading{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            h2{
                font-size: 2.5em;
                font-family: "Satisfy", cursive;
                font-weight: 900;
            }

            .head-tools{
                
                i{
                    font-size: 2em;
                    padding: 0.2em;
                    cursor: pointer;
                }
            }
        }

        .stories{
            width: 100%;
            display: flex;
            overflow-y: auto;
            gap: 0.5em;
            padding: 1em 0; 
            
            .story{
                width: 100px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                img{
                    height: 70px;
                    width: 70px;
                    object-fit: cover;
                    border-radius: 50%;
                    border: 3px solid rgb(174, 40, 40);
                }  
                h4{
                    font-size: 0.8em;
                } 
            }
        }
        
        .posts{
            width: 100%;
            padding-bottom: 9em;
            
            .post{
                // height: 100%;
                width: 100%;
                margin-top: 10px;
    
                .user-name{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 1em 0.4em;
    
    
                    .left{
                        width: 100%;
                        display: flex;
                        justify-content: baseline;
                        align-items: center;
                        gap: 0.5em;
                        cursor: pointer;
    
                        img{
                            height: 60px;
                            width: 60px;
                            object-fit: cover;
                            // object-position: top;
                            border-radius: 50%;
                        }
                        .name{
                            width: 100%;
                            display: flex;
                            // justify-content: center;
                            align-items: center;
                            h3{
                                font-size: 1.2em;
                                display: inline;
                                font-weight: 900;
                                
        
                            }
                            img{
                                object-fit:contain;
                                width: 20px;
                                height: 20px;
                            }
                        }
                    }
    
                    .right{
                        width: 30%;
                        display: flex;
                        justify-content: end;
                        align-items: center;
                        gap: 0.3em;
    
                        button{
                            font-size: 1em;
                            font-weight: 700;
                            padding: 5px;
                            margin:5px;
                            border-radius: 8px;
                            border: none;
                            cursor: pointer;
                        }
                        img{
                            width: 20px;
                            height: 20px;
                        }
    
                    }
                }
    
                .image{
                    width: 100%;
                    position: relative;
                    // display: flex;
                    // justify-content: center;
    
                    img{
                        position: relative;
                        width: 100%;
                        object-fit: cover;
                    }
                    i{
                        position: absolute;
                        color: white;
                        top: 50%;
                        left: 50%;
                        transition: all ease 0.3s;
                        transform: translate(-50%,-50%) scale(0);
                        opacity: 0.7;
                    }
                }
    
                .post-tools{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    padding: 0.7em 0;
    
                    .post-feature{
                        width: 100%;
                        display: flex;
                        align-items: center;
                        gap: 0.5em;
                        .like{
                            display: flex;
                            align-items: center;
                            cursor: pointer;
                            i{
                                font-size: 1.7em;
                                pointer-events: none;
                            }
                        }
                        .comment{
                            display: flex;
                            align-items: center;
                            cursor: pointer;
                            
                            i{
                                font-size: 1.7em;
                            }
                        }
                        .share{
                            display: flex;
                            align-items: center;
                            cursor: pointer;
                            
                            i{
                                font-size: 1.7em;
                            }
                        }
                    }
    
                    .post-save{
    
                        i{
                            font-size: 1.7em;
                            margin-right: 0.4em;
                            cursor: pointer;
                        }
                    }
    
                }  
                
                .post-detail{
                    padding: 1px 0.3em;
                    width: 100%;
    
                    .discription{
    
                        p{
                            #span{
                                font-weight: 700;
                            }
    
                        }
                    }
    
                    .comment{
                        padding-top: 0.2em;
                        p{
                            opacity: 0.6;
                        }
                    }
                    .time{
                        padding-top: 0.2em;
    
                        p{
                            opacity: 0.6;
                        }
                    }
                }
            }
        }

        footer{
            width: 450px;
            position:absolute;
            left: 0%;
            bottom: 0%;
            position: fixed;
            background-color: white;
            padding: 0.6em 0.2em;

            .insta-tools{
                width: 100%;
                display: flex;
                justify-content: space-evenly;

                img{
                    width: 33px;
                    height: 33px;
                    font-weight: 900;
                    cursor: pointer;
                    
                }
                i{
                    font-size: 2em;
                    cursor: pointer;
                }
            }
        }
    }


}